{# Open source project located in  https://github.com/juliomatcom  - http://jcmartin.info/ #}
{% extends 'AppBundle::layout.html.twig' %}

{% block main_content %}

    <h1>Charisma for Symfony <br>
        <small>free, premium quality, responsive, multiple skin admin template.</small>
    </h1>

    <p>Remember to use a Virtual Host running pointing to your Symfony/web/ folder in order to get your assets work fine. <br/>
        For more read this: <a href="http://sawmac.com/xampp/virtualhosts/">http://sawmac.com/xampp/virtualhosts/</a>
    </p>
    <p>This is the base template for your project to extend, i made this to save me some time i need to get charisma in symfony running.</p>

    <p><b style="color:red">This is just the base template to be extended in your Project, you can edit it for your own needs.<br/>See the other pages examples in the original project folder... </b></p>

    <blockquote>This windows content is loaded from: "src/AppBundle/Resources/Views/Home/index.html.twig file" as an example</blockquote>

    <p class="center-block download-buttons">
        <a href="https://github.com/juliomatcom/charisma-symfony-php" class="btn btn-default btn-lg"><i
                    class="glyphicon glyphicon-download-alt"></i> Download Page</a>
    </p>

{% endblock %}