<!-- left menu starts -->
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">

            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                <li class="nav-header">Main</li>
                <li><a class="ajax-link" href="javascript:alert('See the original project in the folder:\ncharisma-master-original/');"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                </li>
                <li><a class="ajax-link" href="javascript:alert('See the original project in the folder:\ncharisma-master-original/');"><i class="glyphicon glyphicon-eye-open"></i><span> Menu item 2</span></a>
                <li class="nav-header hidden-md">Sample Section</li>
                <li><a class="ajax-link" href="javascript:alert('See the original project in the folder:\ncharisma-master-original/');"><i class="glyphicon glyphicon-eye-open"></i><span> Menu item 3</span></a>
                </li>
            </ul>
            <label id="for-is-ajax" for="is-ajax"><input id="is-ajax" type="checkbox"> Ajax on menu</label>
        </div>
    </div>
</div>
<!--/span-->
<!-- left menu ends -->